.card {
  background-color: bisque;
  width: 40rem;
  height: 25rem;
  margin: 0 auto;
  margin-top: 50px;
  /* margin-bottom: 40px; */
  box-shadow: 5px 5px 2.5px darkgoldenrod;
}

.card-input {
  width: 90%;
  height: 50px;
  margin: 20px;
  margin-left: 30px;
  background-color: bisque;
  border: none;
  outline: none;
  border-bottom: 2px solid gray;
}
